.gallery-item {
    margin: auto 5%;
    margin-top: 2%;
}

.display {
    height: 150px;
    width: 150px;
    border: 1px solid #000;

    text-align: center;
}

.display p {
    margin: auto 10%;
}